*.onnx filter=lfs diff=lfs merge=lfs -text
*.onnx.data filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text

# GitHub Linguist language statistics overrides
cmake/** linguist-vendored
cmake/** linguist-documentation
docs/** linguist-documentation
website/** linguist-documentation
*.html linguist-documentation
*.htm linguist-documentation

